@font-face {
  font-family: LotGeomanist;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Geomanist-Regular.woff2') format('woff2'),
  url('../fonts/Geomanist-Regular.woff') format('woff');
}

@font-face {
  font-family: LotGeomanist;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Geomanist-Book.woff2') format('woff2'),
  url('../fonts/Geomanist-Book.woff') format('woff');
}

@font-face {
  font-family: LotGeomanist;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Geomanist-Bold.woff2') format('woff2'),
  url('../fonts/Geomanist-Bold.woff') format('woff');
}
